extends ../template.pug

block headcontent
    - var title = 'About'

block bodycontent
    div
        h1 About
        b MXTURE is currently preparing to start moderating and publishing posts! Submit your own post 
            a(href='/submission-form') here!
        p 
        | MXTURE is a team of three queer university students on a journey of amplifying our communities&apos;,
        | and or own, voices. We hope to become a hub for queer art, discussion, expression, and exploration.
        h2 The mission
        p
        | MXTURE aims to provide a safe, collaborative, and supportive online space for gender-diverse, trans 
        | and queer bloggers and blog-readers to create and enjoy online content that's been created and 
        | curated with them in mind. By doing this, we hope to amplify important voices in our community 
        | and have necessary discussions free of censorship and misrepresentation common in mainstream 
        | media and on social media.
        h2 Public, but moderated
        p
        | The model by which our app runs means anyone can submit a post to MXTURE, but should keep in mind that
        | the moderators of the blog will read the post and decide based on the blog&apos;s mission and values 
        | whether to post it or not. The moderators may also make stylistic or grammatical edits with your permission.
        h2 Taking back the power
        p
        | Crucial to MXTURE&apos;s philosophy, and thus the existence of the site, is the queer people who own, 
        | moderate, and maintain it. Their involvement and commitment allows MXTURE to achieve its goal of empowering
        | queer voices by, quite literally, putting queer people in positions of power over the content published to the site.
        | We hope that this shift in power will establish a strong sense of solidarity and community among regular contributors and readers,
        | and perhaps open future job opportunities for members of the community.
