extends ../template.pug

block headcontent
    - var title = 'About'

block bodycontent
    div
        h1 About
        p MXTURE is a community blog with a focus on queer and trans discourse and talking points. It’s a ‘community blog’ because anybody with an account can submit a post, but posts may be rejected in the moderation process. All posts are read by a team of (human) moderators and must be approved before they are published to the site. Posts may also be rejected if they don’t adhere to our guidelines, or if they simply aren’t relevant to MXTURE.
        p Though MXTURE quotes queerness and gender diversity as central topics of our blog, this isn’t indicative of an exclusive target audience or desired user base. Anybody can read the blog, and anybody can submit a post, but should keep in mind that the moderation process is at the discretion of the moderators, who may reject your post if it doesn’t uphold MXTURE’s values, or if it isn’t relevant to the blog.
        p MXTURE moderators will read your submission together and decide whether it should be published, or rejected. If a consensus is reached decide to publish your post, edits may be made to spelling, grammar, flow, or style. Then, the moderators will contact you directly via the email listed in your profile regarding your post and seek approval for edits and publication if necessary. If your post was rejected, we’ll also state the exact reason(s) for its rejection.
        p 
            | MXTURE aims to provide a safe, collaborative, and supportive online space for trans, queer, and allied
            | bloggers and blog-readers to create and enjoy online content that's been created and 
            | curated with them in mind. By doing this, we hope to amplify important voices in our community 
            | and have necessary discussions free of censorship and misrepresentation common in mainstream 
            | media and on social media.
        p
            | Crucial to MXTURE&apos;s philosophy, and thus the existence of the site, is the queer people who own, 
            | moderate, and maintain it. Their involvement and commitment allows MXTURE to achieve its goal of empowering
            | queer voices by, quite literally, putting queer people in positions of power over the content published to the site.
            | We hope that this shift in power will establish a strong sense of solidarity and community among regular contributors and readers,
            | and perhaps open future job opportunities for members of the community.
        p Also, feel free to get in touch via the ‘Contact’ link at the bottom of every page, or email 
            b contact@mxture.space
            | if you have questions, ideas, or other talking points directed towards MXTURE. We hope to see you enjoy and contribute to our blog!
