extends ../template.pug

block headcontent
    - var title = 'Home'

block bodycontent
        h1 MXTURE
        p.mb-2 
            | We are a public and moderated community blog dedicated to fostering a safe and supportive 
            | space for the exploration and expression of queer identities and ideas. Here, we provide 
            | a platform for members of the trans and gender-diverse communities, as well as anyone whose
            | exploration of gender doesn’t sit comfortably or solidly within the traditional gender binary, 
            | to feel represented and empowered to contribute to the conversation. We invite you to join
            | us in this journey of discovery and exploration!
        b There are currently no posts to show you on our blog. Check back in later or 
            a(href='/submission-form')  submit your own post 
            | in the meantime!