extends ../template.pug

block headcontent
    - var title = 'Home'

block bodycontent
        h1 MXTURE
        p
            | We are a public and moderated community blog dedicated to fostering a safe and supportive 
            | space for the exploration and expression of queer identities and ideas. We invite you to join
            | us in this journey of discovery and exploration!
        div(style='display: flex; justify-content: center; align-items: center; flex-wrap: wrap')
            a(href='/profile').btn.bg-3.m-half Get started!
            a(href='/about').btn.bg-2.m-half What's this about? 
        include ../includes/post-list/main.pug