extends ../template.pug

block headcontent
    - var title = mainMsg

block bodycontent
    h1= mainMsg
    p= details
    if links
        .mt-2
            each link in links
                a(href=link[1]).btn.bg-2= link[0]
    else
        .mt-2
            button(onclick='history.back()').btn.bg-2 Back