extends ../template.pug

block headcontent
    - var title = 'Submission'

block bodycontent
    h1 Submission
    p 
        | The following form takes you through the process of submitting a draft to MXTURE. After 
        | you submit the form, MXTURE moderators will contact you directly regarding your submission.
        | We'll let you know if we've decided not to publish your post and why, or what 
        | edits/modifications we make and why. You'll be able to review the final post before it's published.
    b All fields are required unless otherwise indicated
    form(action='/submission' method='post')#submission.app-form
        h2.pt-1 Part 1: Personal details
        include ../includes/submission/personal-details
        h2.pt-1 Part 2: Post info
        include ../includes/submission/post-info
        h2.pt-1 Part 3: Post content
        label We recommend using 
            a(href='https://www.notion.so') Notion 
            | or 
            a(href="https://www.docs.google.com") Google Docs 
            | to share your post with MXTURE. Whatever you use, 
            b make sure to set the permissions so that we can view your post
        .field
            input(type="url" name="content_src" required placeholder="https://www.example.eg/...").bg-2
        h2.pt-1 Part 3: Declarations
        include ../includes/submission/declarations
        input(type="submit").mt-2.bg-3            