extends ../template.pug

block headcontent
    - var title = 'Terms and Conditions'

block bodycontent
    h1 Terms and Conditions
    p You should read, understand, and agree to all of these declarations before you submit a post to our blog. By submitting a post, you accept that you have done so.
    ol
        li I understand that any post I submit may or may not be published to MXTURE, and, if my post is rejected from the blog, I may not appeal or contest that decision.
        li I understand that if either my post or my profile contain malicious code, explicit or hateful content, or duplicitous hyperlinks, my account may be deleted and my IP address banned.
        li I understand that my profile is required to have a working email address that I can be reached on. Otherwise, the moderators will not be able to contact me regarding my post, and it will not be posted.
        li I understand that MXTURE stores my personal information securely, and encourages me to leave as clean a digital footprint as possible on our site and others. This means not uploading any personal information besides my email and name (I can use a pseudonym if I choose), or cotent that I may regret posting at a later time.