extends ../template.pug

block headcontent
    - var title = 'Terms and Conditions'

block bodycontent
    h1 Terms and Conditions
    div
        <p>MXTURE is a public and moderated community blog dedicated to fostering a safe and supportive space for the exploration and expression of queer identities and ideas</p>

        <h2>User Accounts and Post Submission</h2>

        <p>To submit a post to MXTURE, you must have a registered user account on our website. Once you&rsquo;ve created your account, you can add optional content to your profile (bio, links, display name, gender identifiers). You are fully responsible and accountable for your profile content. Your bio cannot reveal your personal information like your address, phone number, or your school. Furthermore, the websites you link to must be safe and not misleading.</p>

        <h2>Post Moderation</h2>

        <p>All posts submitted to MXTURE will be read by a team of moderators who are trusted creators of the blog. Moderators may reject posts during the moderation process if they do not adhere to our Submission Guidelines or for any other reason.</p>

        <p>If a post is rejected, the user who submitted it will receive an email notification explaining the reason for rejection. Users may edit and resubmit their post if they wish.</p>

        <p>If a post is approved, moderators may make edits to the post for clarity, grammar, or other reasons. However, moderators will run these edits past the post creators before publication.</p>

        <h2>Content Ownership and Use</h2>

        <p>By submitting a post to MIXTURE, you agree to grant us a non-exclusive, royalty-free, perpetual, and irrevocable license to use, reproduce, modify, publish, and distribute your content in any and all media formats and channels. You retain ownership of your content and may use it for any other purposes outside of MXTURE.</p>

        <h2>Disclaimer of Warranties and Limitation of Liability</h2>

        <p>MXTURE does not guarantee that our website will be error-free or uninterrupted. We are not responsible for any damages resulting from the use of our website, including but not limited to direct, indirect, incidental, punitive, and consequential damages.</p>

        <h2>Changes to Terms and Conditions</h2>

        <p>MXTURE reserves the right to modify these terms and conditions at any time without prior notice. By continuing to use our website after such modifications, you agree to the updated terms and conditions.</p>

        <p>&nbsp;</p>
