.field
    label Password
    input(required name="password" type="password" minLength="8" maxLength="32" placeholder="Choose something strong").bg-2
    small Your password should be 8-32 characters in length.