.field
    label Email
    input(required type="email" name="contact_email" placeholder='example@domain.eg' value=profile ? profile.contact_email : '').bg-2
    small Your email will only be used by MXTURE moderators to contact you directly.