extends ../../template.pug

block headcontent
    - var title = 'Sign up'

block bodycontent
    h1 Sign up
    p Have an account? 
        a(href='/auth') Log in instead
        | !
    form.app-form(action='/auth/signup' method='post')
        include ../../includes/forms/profile-username
        include ../../includes/forms/profile-email
        include ../../includes/forms/profile-password
        .field
            label Confirm password
            input(type='password' name='confirm_password' placeholder='Retype your password').bg-2
        include ../../includes/forms/profile-optionals
        input(type='submit').btn.bg-3.mt-2