doctype html
html(lang='en')
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(charset='utf-8')
        link(rel='stylesheet', href='/static/styles.css')
        block headcontent
        title #{ title } | MXTURE
    body
        #root
            include includes/nav/main.pug
            #inner-root
                .page.bg-1.mb-2
                    block bodycontent
