.mb-1
    input(type="checkbox" required).mx-1
    label I've read and I accept MXTURE's 
        a(href='/ts-and-cs') Terms and Conditions
        | .        
.mb-1
    input(type="checkbox" required).mx-1
    label My submission is my original work, and credits its sources appropriately.    