.field
    label Contact email
    input(type="email" name="contact" required placeholder="example@domain.eg")#contact.bg-2
    small.mt-half Your email will only ever be accessed by MXTURE moderators.
.field
    label Pen name
    input(type="text" name="pen_name" required placeholder="Pen name")#pen_name.bg-2
    small.mt-half This will be visible to anyone, so you may want to use an alias. You can even use a different alias for every post you submit.
.field
    label Pronouns and/or identifiers (optional)
    input(type="text" name="identifiers" placeholder="she/they/he/genderfluid...")#identifiers.bg-2
    small.mt-half Anything you enter here will also be visible to anyone
.py-1
    input(type="checkbox")#remember.mx-1
    label Remember details (optional)
script.
    var profile = JSON.parse(localStorage.getItem('mxture-profile'))
    console.log(profile)
    if(profile) {
        document.getElementById('pen_name').value = profile.pen_name
        document.getElementById('contact').value = profile.contact
        document.getElementById('identifiers').value = profile.identifiers
        document.getElementById('remember').checked = true
    }
    document.getElementById('remember').addEventListener('change', () => {
        if(document.getElementById('remember').checked == true) {
            var profile = {
                pen_name: document.getElementById('pen_name').value,
                contact: document.getElementById('contact').value,
                identifiers: document.getElementById('identifiers').value
            }   
            console.log(profile)
            localStorage.setItem('mxture-profile', JSON.stringify(profile))
        }
    })