.field
    label Headline
    input(type="text" name="headline" required placeholder="Some fantastic headline").bg-2
.field
    label Byline
    input(type="text" name="byline" required placeholder="Some creative byline").bg-2
.field
    label Trigger warnings (optional)
    textarea(name="trigger_warnings" placeholder="A helpful and sympathetic trigger warning message").bg-2