footer#footer.bg-1
    div.m-1
        small
            | MXTURE acklowledges the Wurundjeri Woi-wurrung and
            | Bunurong Boon Wurrung people of the Kulin nations
            | as the rightful owners of the stolen land on which
            | we live, work, play and create. We pay our
            | respects to all Elders; past, present, and emerging.
    div.m-1
        small MXTURE prototype 2.0.0. Copyright MXTURE, 2023. All rights reserved   
    div.m-1.d-flex
        a(href='/') Home
        |  | 
        a(href='/about') About
        |  | 
        a(href='mailto:contact@mxture.space') Contact