.dropdown
    button#nav-dropdown-toggler.toggler.bg-2= '>'
    #nav-dropdown-content.content
        ul.list.bg-3
            li.list-item.bg-1 
                a.list-link(href='/about') About
            li.list-item.bg-1 
                a.list-link(href='/profile') Profile
            li.list-item.bg-1
                include ./theme-button

script.
    document.getElementById('nav-dropdown-toggler').addEventListener('click', (ev) => {
        document.getElementById('nav-dropdown-content').classList.toggle('content-show')
        document.getElementById('nav-dropdown-toggler').classList.toggle('toggler-show')
    })
